<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel= "stylesheet" type= "text/css" href= "static/style.css">
      <link rel="shortcut icon" href="static/favicon.ico">
      <title>Pip install pip</title>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="menu">
          <a class="title-text" href="#">PiP</a>
        </nav>
      </div>
    </header>

    <main class="container">
      <div class="failed-content bottom-padding">
        <h1 class="main-text">Что-то пошло не так...</h1>
        <p class="content-text">Загрузите пожалуйста файл с доступным расширением!</p>
      </div>

      <div class="gif-wrapper">
        <img class="gif-img" src="static/failed.gif" alt="GIF">
      </div>

      <div class="btn-container">
        <form action = "/" >
          <input class="btn-main" type = "submit" value="На главную">
        </form>
      </div>

      <div class="bg-image"></div>
    </main>
    
  </body>
</html>